// Primary color
$primary-color: #14C3AF;
$primary-light: rgba(20, 195, 175, 0.1);

:host {
  display: block;
}

.currency-selector {
  position: relative;
}

// Custom Tailwind classes
.tw-text-primary {
  color: $primary-color;
}

.tw-border-primary {
  border-color: $primary-color;
}

.tw-bg-primary-light {
  background-color: $primary-light;
}

.tw-ring-primary\/20 {
  --tw-ring-color: rgba(20, 195, 175, 0.2);
}

.focus\:tw-border-primary:focus {
  border-color: $primary-color;
}

.hover\:tw-border-primary:hover {
  border-color: $primary-color;
}

.hover\:tw-bg-primary-light:hover {
  background-color: $primary-light;
}

// Animation
.tw-animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

.customBtn {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border: 1px solid #d1d5db !important;
  height: 56px !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Scrollbar
ul {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 3px;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1500px) {
  .customBtn {
    width: 90px !important;
    padding-left: 0;
    padding-right: 0;
    font-size: smaller;
  }
}
