/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;
// @import "tailwindcss/base" layer(tailwindcss);

// @import "tailwindcss/components" layer(tailwindcss);

// @import "tailwindcss/utilities" layer(tailwindcss);
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Vazirmatn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;800&display=swap");


@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/zoom';


// @font-face {
//   font-family: "Poppins";

//   src: url("../src/assets/fonts/Poppins-Regular.ttf") format("truetype");
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: "Cairo";
  src: url("../src/assets/fonts/Cairo-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Cairo";
  src: url("../src/assets/fonts/Cairo-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}



* {
  font-family: "Cairo", sans-serif;
  color: black;
  font-size: medium;
}


.mainPage {
  .sidebar {
    .p-sidebar-icon {
      margin-left: 0;
      margin-inline-start: auto;
    }

    chevronrighticon,
    anglerighticon {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}


// ================================
// Primary Color: #14C3AF (Teal)
// ================================

$primary-color: #14C3AF;
$primary-light: rgba(20, 195, 175, 0.1);
$primary-dark: #0FA899;

// ================================
// Selected Category Item
// ================================
.category-item-selected {
  background-color: $primary-color !important;
  border: 2px solid $primary-color !important;
  box-shadow: 0 4px 15px rgba(20, 195, 175, 0.3);

  &:hover {
    background-color: $primary-dark !important;
    border-color: $primary-dark !important;
  }
}

// ================================
// Unselected Category Item
// ================================
.category-item {
  background-color: white !important;
  border: 2px solid #E5E7EB !important;

  &:hover {
    border-color: $primary-color !important;
    background-color: $primary-light !important;
  }
}

// ================================
// Custom Tailwind Classes
// ================================
.tw-text-primary {
  color: $primary-color !important;
}

.tw-bg-primary {
  background-color: $primary-color !important;
}

.tw-bg-primary-light {
  background-color: $primary-light;
}

.tw-border-primary {
  border-color: $primary-color;
}

// ================================
// Scrollbar Styling
// ================================
.tw-overflow-y-auto {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f8f8f8;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 3px;
    opacity: 0.5;

    &:hover {
      background: $primary-dark;
    }
  }
}
